<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<!-- <div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success" (click)="onNewNote()"> 
            <i class="far fa-file-alt" style="font-size: 35px;"></i>
        </button>
        <button class="btn btn-success" (click)="onFetchNote()">Fetch Notes</button>
    </div>
</div> -->
<div class="card ">
<div class="form-group fg--search">
    <input type="text" class="form-control" placeholder="Search here" 
     [(ngModel)]="searchTerm">
    <button><i class="fa fa-search"></i></button>
    
</div>

    <!-- <h5 class="card-header info-color white-text text-center">
      <strong>{{note.title }}</strong>
    </h5> -->
    <div class="card-body">
        <app-item 
         *ngFor="let noteEl of notes | noteFilter:searchTerm; let i= index "
        [note]="noteEl"
        [index]="i"></app-item>
    </div>
</div>

