<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
 <nav class="navbar navbar-expand-md bd-navbar fixed-top">
    <a routerLink="/" class="navbar-brand">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQKkqjZKU-GJGMAlHmx9XgBZqejMHvcHc7SMw&usqp=CAU" 
      width="20%" height="35px" alt="">
      GSKNotesApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
     data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
      aria-expanded="false" aria-label="Toggle navigation">
      <!-- <span class="navbar-toggler-icon"></span> -->
      <i class="fa fa-bars"></i>
    </button>
  
    <div class="navbar-collapse collapse " id="navbarsExampleDefault">
      <!-- <ul class="navbar-nav mr-auto">
        <li class="nav-item "> -->
          <!-- <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a> -->
          
          <button class="btn" (click)="onNewNote()"> 
            <i class="far fa-file-alt" style="font-size: 35px;"></i>
        </button>
        <!-- </li>
      </ul> -->
    </div>
    

     <!-- <section class="noteapp">

      <header class="noteapp__header header" style="background-color: rgb(255, 208, 0);">
        <div class="header__logo">
          <img class="header__logo-img" height="60px" width="100px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQKkqjZKU-GJGMAlHmx9XgBZqejMHvcHc7SMw&usqp=CAU" />
        </div>
        <h1 class="header__title" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">GSKNotes</h1>
        <div class="pull-right" style="margin: 450px;">
          <button class="btn" (click)="onNewNote()"> 
            <i class="far fa-file-alt" style="font-size: 35px;"></i>
        </button>
        
        </div>
      </header>
      </section> -->