<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<a 
style="cursor: pointer;"
[routerLink]="[index]"
routerLinkActive="class-name"
class="list-group-item ">
<div class="pull-left">
<h4 class="list-group-item-heading" style="color: black;">{{ note.title |titlecase }} </h4>
<p class="list-group-item-text">{{note.date| date:'shortTime'}}   {{(note.content.length>30)? (note.content | slice:0:60)+'......':(note.content) }}</p>

</div>  
</a>