<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
        
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" 
                        id="name"
                        formControlName="title"
                        class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="content">Content</label>
                        <textarea type="text" 
                        id="content"
                         class="form-control"
                         formControlName="content"
                          rows="7" cols="38"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button 
                    type="submit" class="btn btn-success"
                    [disabled]="!noteForm.valid" (click)="onSave()"> Save</button>
                    <button type="submit"
                     class="btn btn-danger" (click)="onCancel()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>