<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<body>
<div class="card ">

    <h5 class="card-header info-color white-text text-center py-4">
      <strong>{{note.title }}</strong>
    </h5>
    <div class="card-body px-lg-5 pt-0">
          <label>{{ note.content }}</label>
          <br>
          <br>
          <br> </div>
          <div class="card-footer info-color white-text text-center py-4">
           <strong>2 days ago
        </strong>           </div>
   
  </div>
  <button class="btn btn-success" style="margin:15px;" (click)="onEdit()">
    <i class="fas fa-edit" style="font-size: 35px;"></i></button> 
    <button class="btn btn-danger"(click)="onDelete()">
        <i class="fa fa-trash" style="font-size: 35px;"></i></button> 
<!-- <div class="row">
    <div class="col-xs-12">
        <h1>{{ note.title }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h5>{{note.content}}</h5>
    </div>
</div> -->
</body>